<button  mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h3 mat-dialog-title>Tell Us More</h3>
<div class="grid-container">
   
    <form>
     
      <mat-form-field class="half-width">
        <input matInput placeholder="Tellus " [formControl]="name1" type="text">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="Tellus " [formControl]="name2" type="text">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput placeholder="Tellus " [formControl]="name3" type="text">
      </mat-form-field>
     
      <div>
        &nbsp;
      </div>
      <div align="right">
        <button mat-raised-button
          color="primary">Submit</button>
        &nbsp; &nbsp;&nbsp; &nbsp;
        
      </div>
    </form>
  
  </div>
